h1 {
  text-align: center;
  font-size: 45px;
  font-family: Roboto;
  font-weight: normal; 
  color: rgb(100, 100, 100);
}

h2 {
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

#banner {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#container {
  max-width: 720px;
  margin-left: 200px;
}